@use '@/styles/variables' as vars;
@use '@/styles/mixins' as *;

.productPage {
  padding-top: 60px;
  padding-bottom: 100px;

  @include responsive-container;
}

.breadcrumbs {
  display: flex;
  gap: vars.$space-xxs;
  margin-bottom: vars.$space-l;
  color: vars.$text-secondary-color;

  span:first-child {
    cursor: pointer;
    &:hover {
      color: vars.$brand-color;
    }
  }
}

.productContent {
  display: flex;
  gap: vars.$space-xl;

  @include respond(lg) {
    flex-direction: column;
    align-items: center;
  }
}

.productImage {
  flex-shrink: 0;
  max-width: 600px;

  img {
    display: block;
    width: 100%;
  }
}

.productDetail {
  display: flex;
  flex-direction: column;
  gap: vars.$space-xl;

  .productTitle {
    margin-bottom: vars.$space-m;
  }
  .productFooter {
    display: flex;
    flex-direction: column;
    gap: vars.$space-xl;
    padding-top: vars.$space-l;
  }
}

.productActions {
  display: flex;
  gap: vars.$space-xl;

  .btnAddToCard {
    @include btn-secondary;
  }
}
