@use '@/styles/variables' as vars;
@use '@/styles/mixins' as *;

.page {
  padding-top: 60px;
  padding-bottom: 100px;

  @include responsive-container;
}

.title {
  margin-bottom: vars.$space-xl;
}

.list {
  display: flex;
  flex-direction: column;
  gap: vars.$space-m;
}

.summary {
  @include widget-borders;
  display: flex;
  justify-content: flex-end;
  padding: vars.$space-m;
  background: vars.$bg-color;
  margin-top: vars.$space-m;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
