@use '@/styles/variables' as vars;
@use '@/styles/mixins' as *;

.item {
  @include widget-borders;
  @include transition(opacity);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: vars.$space-m;
  background: vars.$bg-color;
}

.itemMain {
  display: flex;
  align-items: center;
  gap: vars.$space-m;
}

.itemImage {
  @include widget-radius;
  object-fit: cover;
  flex-shrink: 0;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: vars.$space-xxs;
}

.itemDeleted {
  opacity: 0.5;
}

.itemTitle {
  max-width: 400px;
}

.itemActions {
  display: flex;
  align-items: center;
  gap: vars.$space-m;

  @include respond(lg) {
    width: 100%;
    justify-content: space-between;
    margin-top: vars.$space-s;
  }
}
