@use '@/styles/variables' as vars;
@use '@/styles/mixins' as *;

:root {
  font-family: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

a {
  @include transition(color);
  color: inherit;
  text-decoration: none;

  &:hover {
    color: vars.$brand-color !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-roboto);

  main {
    flex: 1;
    background-color: vars.$color-main-bg;
  }
}
