@use '@/styles/variables' as vars;

.multi-dropdown {
  display: inline-block;
  position: relative;
}

.multi-dropdown-icon {
  cursor: pointer;
}

.multi-dropdown-icon-disabled {
  cursor: default;
  pointer-events: none;
}

.multi-dropdown-options {
  position: absolute;
  left: 0;
  right: 0;
  margin: vars.$space-xxs 0 0 0;
  padding: 0;
  list-style: none;
  background-color: vars.$dropdown-options-bg-color;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0px 4px 10px 0px #00000040;
}

.multi-dropdown-option {
  padding: vars.$space-s vars.$space-xs;
  cursor: pointer;
}
