@use '@/styles/variables' as vars;
@use '@/styles/mixins' as *;

.filters {
  display: flex;
  flex-direction: column;
  gap: vars.$space-m;
  margin-bottom: vars.$space-xl;
}

.totalProducts {
  display: flex;
  align-items: center;
  gap: vars.$space-m;
  margin-bottom: vars.$space-xl;
}

.search {
  width: 100%;
}

.categories {
  align-self: flex-start;
  width: 368px;

  @include respond(sm) {
    width: 100%;
  }
}
