@use '@/styles/variables' as vars;
@use '@/styles/mixins' as *;

.btn {
  @include transition(background-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: vars.$space-xxs;
  padding: vars.$space-s vars.$space-l;
  min-height: vars.$size-btn-h;
  background-color: vars.$button-primary-bg-color;
  color: vars.$button-primary-text;
  border: none;
}

.btn:hover {
  background-color: vars.$button-primary-bg-hover-color;
}

.btn.btn-disabled {
  background-color: vars.$button-primary-bg-disabled-color;
}

.btn.btn-loading {
  pointer-events: none;
}

.btn .loader {
  color: vars.$button-primary-text;
}
